<font size=5><b><font color="#8C8C8C">Magnemite</font> Commands</b></font>

<br><br>

<img src="http://www.pokestadium.com/sprites/xy/magnemite.gif"/>

<br><br>

Use a command by typing <b>!</b> followed by a command and any additional data necessary!

<br>

<ul>
    <li><b>8ball</b> - asks the Magic 8 Ball a question</li>
    <li><b>actor</b> (<i>also</i>: <b>actress</b>) - gives you a random actor and movie name</li>
    <li><b>animal</b> - gives you a random animal</li>
    <li><b>bzt</b> - makes Magnemite say a random message</li>
    <li><b>commands</b> - to know the commands</li>
    <li><b>define</b> - gets the definition of a certain word</li>
    <li><b>iq</b> - <font size=1>randomly</font> generates a number for your IQ</li>
    <li><b>job</b> - gives you a random job</li>
    <li><b>news</b> - gets headlines from a news website</li>
    <li><b>say</b> - tells Magnemite what to say</li>
    <li><b>weather</b> - tells you the weather of a certain location</li>
    <li><b>wiki</b> - looks something up on Wikipedia</li>
    <li><b>wikipedia</b> - same as <i>wiki</i> but capitalization is not automatically formatted</li>
</ul>

Additionally, mention <font color="#7289DA"><b>@Magnemite</b></font> with a question to make use of its wisdom!